*.[oa]
*.pyc

CMakeFiles
Makefile
cmake_install.cmake
CMakeCache.txt
CPackConfig.cmake
CPackSourceConfig.cmake
uninstall.cmake
debian.cmake
redhat.cmake
doc/doxyfile
manager/setup.py
config.h
rozofs.spec

profile_wrap.c
libconfig_wrap.c

manager/build/
manager/timestamp
src/exportd/exportd
src/rozofsmount/rozofsmount
src/rprof/rprof
src/storaged/storaged
tests/fs_ops/fileop/fileop
tests/fs_ops/pjd-fstest/fstest
tests/rpc_throughput
tests/rpc_throughput_server
tests/test_dist
tests/test_econfig
tests/test_export
tests/test_htable
tests/test_list
tests/test_mdirent
tests/test_rbs
tests/test_sconfig
tests/test_storage
tests/test_transform
tests/test_volume
tests/transform_file
tests/transform_throughput
tests/read_dirent_file
tests/test_write_all_offset
tests/test_xattr
tests/test_truncate

