*.[oa]
*.pyc
/nbproject/private/

*.sample
*.make
*.marks
*.bin
*.mk
*.internal
*.includecache
CMakeFiles
*.out
*link.txt
*Makefile
.gitignore

CMakeCache.txt
configurations.xml

nbproject/*
/build/*

tests/test_rbs
tests/test_dist
tests/test_htable
tests/test_list
tests/test_storage
tests/test_econfig
tests/test_sconfig
tests/test_volume
tests/test_export
tests/test_mdirent
tests/transform_file
tests/test_transform
tests/transform_throughput
tests/rpc_throughput
tests/rpc_throughput_server
tests/fs_ops/fileop/fileop
tests/fs_ops/pjd-fstest/fstest
tests/storage_*
tests/export_*
tests/build/*
tests/config_files/*
tests/mnt*
/doc/doxyfile
/tests/cmake_install.cmake
/CPackConfig.cmake
/CPackSourceConfig.cmake
/cmake_install.cmake
/debian.cmake
/redhat.cmake
/wheezy.cmake
/squeeze.cmake
/ubuntu.cmake
/uninstall.cmake
/src/cmake_install.cmake
/tests/fs_ops/pjd-fstest/cmake_install.cmake
/tests/fs_ops/fileop/cmake_install.cmake
/doc/cmake_install.cmake
config.h
src/profile/rprof


rozofs/cmake_install.cmake
src/rprof/cmake_install.cmake
src/rozofsmount/cmake_install.cmake
src/exportd/cmake_install.cmake
src/storaged/cmake_install.cmake


src/exportd/exportd
src/storaged/storaged
src/rozofsmount/rozofsmount
src/rprof/rprof

manager/build/*
manager/cmake_install.cmake
/manager/setup.py
/manager/timestamp
/rozofs.spec
/src/exportd/export.conf.sample
/src/storaged/storage.conf.sample
