Source: rozofs
Section: admin
Priority: optional
Maintainer: Fizians S.A.S. <devel@rozofs.com>
Build-Depends: debhelper (>= 8), cmake, libfuse-dev (>= 2.9.0), libattr1-dev, uuid-dev, libconfig-dev, python-all-dev, libreadline-dev, swig
Standards-Version: 3.9.4
X-Python-Version: = 2.7 << 3.0
Homepage: http://www.rozofs.com
Vcs-Git: https://github.com/rozofs/rozofs.git
Vcs-Browser: https://github.com/rozofs/rozofs

Package: rozofs-exportd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, portmap | rpcbind, libattr1, libuuid1, libconfig8 | libconfig9
Description: RozoFS filesystem (export daemon)
 RozoFS exportd daemon manages metadata for the RozoFS filesystems.
 .
 RozoFS is a scale-out NAS using erasure coding.

Package: rozofs-storaged
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, portmap | rpcbind, libuuid1, libconfig8 | libconfig9
Description: RozoFS filesystem (storage daemon)
 RozoFS storaged daemon stores encoded data for the RozoFS filesystems.
 .
 RozoFS is a scale-out NAS using erasure coding.

Package: rozofs-rozofsmount
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libfuse2 (>= 2.9.0), fuse
Description: RozoFS filesystem (mount utility)
 rozofsmount mounts RozoFS filesystems using FUSE.
 .
 RozoFS is a scale-out NAS using erasure coding.

Package: rozofs-geomgr
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libconfig8 | libconfig9
Description: RozoFS filesystem (geo-replication software)
 This package contains the software related to geo-replication.
 .
 RozoFS is a scale-out NAS using erasure coding.

Package: rozofs-rozodiag
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libreadline6
Description: RozoFS filesystem (diagnostic tools)
 rozodiag allows deep audit of RozoFS filesystems.
 .
 RozoFS is a scale-out NAS using erasure coding.

Package: rozofs-manager-lib
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libconfig8 | libconfig9, pyro, python-support (>= 0.90), python-argparse, python-yaml
Description: RozoFS filesystem (management library)
 Python management libraries for RozoFS.
 .
 RozoFS is a scale-out NAS using erasure coding.

Package: rozofs-manager-cli
Architecture: any
Depends: ${misc:Depends}, rozofs-manager-lib, python2.7
Description: RozoFS filesystem (management cli)
 Management command-line for RozoFS.
 .
 RozoFS is a scale-out NAS using erasure coding.

Package: rozofs-manager-agent
Architecture: any
Depends: ${misc:Depends}, rozofs-manager-lib, rozofs-manager-cli
Description: RozoFS filesystem (management daemon)
 Management daemon for RozoFS.
 .
 RozoFS is a scale-out NAS using erasure coding.

Package: rozofs-dbg
Section: debug
Priority: extra
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, rozofs-rozofsmount (= ${binary:Version}) | rozofs-storaged (= ${binary:Version}) | rozofs-exportd (= ${binary:Version})
Description: RozoFS filesystem (debugging symbols)
 Provide debugging information for the various rozofs packages.
 Install it to get a better backtrace in the event of a crash, or to test.
 .
 RozoFS is a scale-out NAS using erasure coding.

Package: nagios-plugins-rozofs
Section: net
Priority: extra
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, rozofs-rozodiag (>= ${binary:Version})
Description: RozoFS filesystem (Nagios plugins)
 Provide monitoring information for the various rozofs packages.
 .
 RozoFS is a scale-out NAS using erasure coding.
