Source: rozofs
Section: admin
Priority: optional
Maintainer: Fizians S.A.S. <devel@rozofs.com>
Build-Depends: debhelper (>= 8), dh-make, cmake, libfuse-dev (>= 2.9.0), libattr1-dev, uuid-dev, libconfig-dev, python-all-dev, libreadline-dev, swig
Standards-Version: 3.9.4
X-Python-Version: = 2.7 << 3.0
Homepage: http://www.rozofs.com
Vcs-Git: https://github.com/rozofs/rozofs.git
Vcs-Browser: https://github.com/rozofs/rozofs

Package: rozofs-exportd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, portmap | rpcbind, libattr1, libuuid1, libconfig8 | libconfig9
Description: Rozofs filesystem (export package).
 Rozofs is a scale-out NAS using erasure coding.

Package: rozofs-storaged
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, portmap | rpcbind, libuuid1, libconfig8 | libconfig9
Description: Rozofs filesystem (storage package).
 Rozofs is a scale-out NAS using erasure coding.

Package: rozofs-rozofsmount
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libfuse2 (>= 2.9.0), fuse | fuse-utils
Description: Rozofs filesystem (rozofsmount package).
 Rozofs is a scale-out NAS using erasure coding.

Package: rozofs-rprof
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Rozofs filesystem (monitoring package).
 Rozofs is a scale-out NAS using erasure coding.

Package: rozofs-rozodebug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libreadline6
Description: Rozofs filesystem (debugging package).
 Rozofs is a scale-out NAS using erasure coding.

Package: rozofs-manager-lib
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libconfig8 | libconfig9, pyro, python-support (>= 0.90), python-argparse
Description: Rozofs filesystem (management library package).
 Rozofs is a scale-out NAS using erasure coding.

Package: rozofs-manager-cli
Architecture: any
Depends: ${misc:Depends}, rozofs-manager-lib, python2.7
Description: Rozofs filesystem (management cli package).
 Rozofs is a scale-out NAS using erasure coding.

Package: rozofs-manager-agent
Architecture: any
Depends: ${misc:Depends}, rozofs-manager-lib, rozofs-manager-cli
Description: Rozofs filesystem (management agent package).
 Rozofs is a scale-out NAS using erasure coding.
